.main__container {
    display: flex;
    justify-content: space-between;
}

.main__desk {
    width: 255px;
}

.main__page {
    width: 825px;
}

.products-card__list {
    margin: 0;
    padding: 0;
}