.button {
    display: inline-block;
    height: 100%;
    padding: 12px 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #F2F4FE;
    background: #AD1FEA;
    border-radius: 10px;
    transition: .2s linear all;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #C75AF6;
    }
}